/* CSS for site */
/* 3 column design */

* {
  box-sizing: border-box;
}

/* three columns */
.column {
  float: left;
  padding: 10px;
}

.left {
  background-color: #FFFFF2;
  width: 16%;
  border-radius: 4px;
  box-shadow: inset 0px 0px 16px -2px #442200;
  margin-left: 24px;   
  padding-left: 2px; 
  padding-top: 14px;
  padding-bottom: 14px;
}

.middle {
  background-color: #FFFFF2;  
  width: 62%;
  border-radius: 4px;
  box-shadow: 4px 4px 8px -1px #442200;
  margin-left: 12px;   
  padding-left: 80px;
  padding-right: 84px; 
  padding-top: 18px; 
}

.right {
  background-color: #FFFFF2;
  width: 16%;
  margin-left: 12px;   
  padding-left: 20px;
  padding-right: 8px;
  padding-top: 24px;
}

/* Clear floats after columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #FFFFF2;
  padding: 60px;
  padding-top: 48px;
}

/* horizontal line */
hr.line {
  border-radius: .5px;
  border: 1px solid #442200;
  box-shadow: -.5px -.5px 1px 0px #442200;
}

hr.linex {
  border-radius: .5px;
  border: 1px solid #FDF5E6;
  box-shadow: -.5px -.5px 1px 0.7px #442200;
}


b {
  font-family: Arial, Verdana, Times, sans-serif;
  color: #442200;
}

p {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  color: #442200;
  font-size: 12pt;
}

/* justified paragraphs (p.5) */
p.just {
  font-family: Arial, Verdana, Times, sans-serif;
  color: #442200;
  text-align: justify;
}

/* right column paragraphs */
p.rc {
  font-family: Arial, Verdana, Times, sans-serif;
  color: #442200;
  font-size: 11pt;
  text-align: left;
  border-radius: 3px;
/*box-shadow: 3px 3px 6px -2px #442200;*/
}

/* headers */
h1 {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  color: #440000;
}

h2 {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  color: #440000;
}

h3 {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  color: #800020;
}

h4 {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  color: #442200;
}

h5 {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  color: #440000;
}

h6 {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  color: #440000;
}


/* menu links */
a:link {
  display: block;
  width: 95px; /* adjust to link length */
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  color: #442200;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: inset -6px -6px 8px -8px #442200;
}

a:hover {
  color: #442200;
  box-shadow: inset 2px 2px 4px 0.5px #442200;
}

/* selected menu button */
a.sel {
  color: #442200;
  box-shadow: inset 2px 2px 4px 0.5px #442200;
}

/* menu link list */
ul.link {
  list-style-type: none;
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  font-size: 11pt;
  padding: 0px;
}


/* back to top link */
a.topper {
  width: 100px; 
  color: #440000;
  font-family: Arial, Times, Sans-Serif;
  font-size: 10pt;
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px #442200;
  padding: 2px;
  margin: 0px;
}


/* for info in footer */
.footer { 
  color: #442200;
  font-family: Arial, Times, Sans-Serif;
  font-size: 9pt;
  padding-top: 10px;
  text-align: center;    
  width: 100%;
}  


/* lists */
ul {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  font-size: 11pt;
}

ol {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  font-size: 11pt;
}

dl {
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
  font-size: 11pt;
}



/* little circles in menu box */
hr.circle {
  width: 16px;
  height: 16px;
  border-radius: 45px;
  border: 2px solid #FDF5E6;
  box-shadow: inset 2px 2px 6px -1px #442200;
}


/* experimental - not being used*/
hr.halftop {
  width: 60px;
  height: 30px;
  border-radius: 45px;
  border: 2px solid #FDF5E6;
  border-bottom: 0;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  box-shadow: 0px 0px 10px 6px #442200;
}

hr.halfbottom {
  width: 60px;
  height: 30px;
  border-radius: 45px;
  border: 2px solid #FDF5E6;
  border-bottom: 0;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  box-shadow: 0px 0px 10px 6px #442200;
}


